@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");
.liberty {
  font-family: "Shadows Into Light", cursive;
  display: flex;
  flex-direction: column;
  margin-bottom: 10em;
}
.quotes {
  margin-top: 5em;
  margin-left: 170px;
  text-align: center;
  margin-right: 0;
  font-size: 3em;
}
.rights {
  height: 600px;
  width: 600px;
  margin-top: 10em;
  margin-left: 20em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 900px) {
  .rights {
    margin-left: 50px;
    margin-top: 40px;
    height: 300px;
    width: 300px;
  }
}
