.footer {
    padding: 50px;
    background-color: #19d3da;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin: 0 auto;
}
.copy{
    margin-left: 50px;
}


@media only screen and (min-width: 768px) {
    .copy{
        margin-left: 30rem;
    }
}
@media only screen and (max-width: 768px) {
   .footer{
       width: 115%;
   }
}
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
 .footer{
     padding: 100px;
     width: 1400px;
 }
    .copy{
        margin-left: 20em;
    }
}